.sortBar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  border-bottom: 4px solid white;
  margin: 1rem;
}
.sortBy {
  margin: 1vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
}
.genreBar {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  grid-column: span 2;
  color: $textColor;
}
