@import "../variables/variables.scss";

.searchContainer {
  box-sizing: border-box;
  background-image: url("https://i.picsum.photos/id/827/3333/5000.jpg?hmac=3L_cn4aDdfdcCdMApsSNiMH-ahLLS18QSJQD9tqJHBE");
  height: 35%;
  width: 100%;
  padding: 7vh;
  padding-top: 7vh;
  border: 4vh;
  font-size: 2vh;
  display: inline-block;
  position: relative;
  background-size: cover;
}
.searchBar {
  box-sizing: border-box;
  background: $extra-color;
  height: 5vh;
  width: 80%;
  border-radius: 5px;
  opacity: 85%;
  padding: 1vh;
  text-align: left;
  position: absolute;
  top: 50%;
  color: $textColor;
  font-size: x-large;
}
.logo {
  position: absolute;
  font-weight: 200;
  letter-spacing: 1vw;
  font-size: xx-large;
  color: $textColor;
}

// Main Bar

.searchResults {
  justify-content: left;
  text-align: left;
  padding-left: 2vh;
}
.sortOption {
  margin-right: 2vw;
  margin-bottom: 0px;

  &:hover {
    cursor: pointer;
    color: $accentColor;
  }
}
