body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  color: #191414;
}

h2 {
  text-align: center;
  color: #191414;
}

.counter {
  text-align: center;
  display: grid;
  grid-template-columns: 5rem 10rem 5rem;
}

button {
  background-color: #1db954;
  border-radius: 5rem;
  transition: background-color 1s;
}

button:hover {
  background-color: #ffffff;
  border-radius: 2rem;
}

.navbar {
  top: 0;
  left: 0;
  padding-top: 1rem;
  height: 3rem;
  background-color: #1db954;
  border-bottom-color: #191414;
  border-bottom: 5px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #191414;
  margin: 5rem;
  padding: 1rem;
}

a:hover {
  color: #ffffff;
}

label {
  margin: 1rem;
  position: relative;
  top: 20px
}