body {
    box-sizing: border-box;
    background-color: $bgColor;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: $font-Family-1, $font-family-2;
  }
  
  button {
    margin-left: 5px;
    height: 4vh;
    width: 10%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
    outline: none;
    text-decoration: none;
    border: none;
    font-size: x-large;
  
    &:hover {
      color: $textColor;
      border: 1px $textColor;
      cursor: pointer;
    }
  }